<!-- Dashboard Section -->
<div class="container mt-4" style="position:fixed;width: 50%">
  <h2 class="text-center">Dashboard</h2>
  <div class="d-flex flex-row justify-content-between gap-2">
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total Students</h5>
          <h2 class="card-text">{{ totalStudents }}</h2>
        </div>
      </div>
    </div>

    <!-- Card for Total Institutions -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total Institutions</h5>
          <h2 class="card-text">{{ totalInstitutions }}</h2>
        </div>
      </div>
    </div>

    <!-- Card for Total Fields of Study -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total Fields of Study</h5>
          <h2 class="card-text">{{ totalFieldsOfStudy }}</h2>
        </div>
      </div>
    </div>

    <!-- Card for Total Reviews -->
    <div class="col-md-4 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Total Reviews</h5>
          <h2 class="card-text">{{ totalReviews }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
