.main-header {
  display: flex;
justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2.784px 5.569px 0 rgba(84, 159, 241, 0.4);
  gap: 40px 44px;
  flex-wrap: wrap;
  padding: 11px 100px;
}

@media (max-width: 991px) {
  .main-header {
    padding: 0 20px;
    flex-direction: column;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-icon {
  width: 60px;
  aspect-ratio: 1.47;
  object-fit: contain;
}

.logo-text {
  width: 78px;
  aspect-ratio: 5.21;
  object-fit: contain;
  fill: #263238;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 22px;
  flex: 1;
  justify-content: flex-end;
  font: 500 11px Inter, sans-serif;
}

@media (max-width: 991px) {
  .navigation {
    width: 100%;
    justify-content: center;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 17px;
}

.nav-item {
  color: #4d4d4d;
  text-decoration: none;
}


.btn-outline-custom {
  border-color: #4caf4f;
  color: #000000;
}

.btn-outline-custom:hover {
  background-color: #4caf4f;
  color: white;
}


@media (max-width: 991px) {
  .register-button {
    padding: 10px 20px;
  }
}

.arrow-icon {
  width: 11px;
  aspect-ratio: 1;
  object-fit: contain;
}

.dropdown {
  position: relative;
}





.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #4d4d4d;
  text-decoration: none;
  padding: 10px 20px;


  .nav-item{
    color: black;
  }

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
