<header class="main-header">
  <div class="logo-container">
    <img loading="lazy" src="assets/pictures/BIOR%20BAC%20(1).png" alt="" class="logo-icon" />
  </div>
    <div>
      <ul class="nav-list">
        <li><a routerLink="/home" class="nav-item">Home</a></li>
        <li><a routerLink="/about" class="nav-item">About</a></li>
        <li><a routerLink="/Institutions" class="nav-item">Institutions</a></li>
        <li><a routerLink="/advice" class="nav-item">Advice</a></li>
        <li><a routerLink="/contact" class="nav-item">Contact</a></li>
      </ul>
    </div>

  <!-- Profile button -->
  <div class="d-flex align-items-center">
    <button routerLink="/signUp" class="btn btn-outline-custom rounded-pill me-2">
      <a style="cursor: pointer;" *ngIf="_authService.isLoggedIn()" (click)="_authService.logout()" class="signup-btn">
      <i  class="bi bi-person"></i> Sign Up
      </a>
    </button>

<!--    <button class="btn">-->
<!--      <i class="bi bi-list"></i>-->
<!--    </button>-->
  </div>

</header>
