.login-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/assets/pictures/La_grande_mosquee_hassan_II.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 400px; /* Reduced width */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: black;
  border-radius: 12px;
  padding: 2% 20px; /* Reduced padding */
}

.wrapper h1 {
  font-size: 28px; /* Smaller font size */
  text-align: center;
  margin-bottom: 20px; /* Added bottom margin for spacing */
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0; /* Reduced margin */
  gap: 5%;
}

.input-box {
  position: relative;
  width: 100%;
  height: 40px; /* Reduced height */
  margin: 20px 0; /* Reduced margin */
}

.input-box:last-child {
  margin-right: 0;
}

.input-box input,
.input-box select {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px; /* Slightly reduced border radius */
  font-size: 14px; /* Smaller font size */
  color: black;
  padding: 10px 20px; /* Reduced padding for inputs */
}

.input-box input::placeholder {
  color: rgba(0, 0, 0, 0.55);
}

.input-box i {
  position: absolute;
  right: 15px; /* Adjusted icon position */
  top: 30%;
  transform: translate(-50%);
  font-size: 16px; /* Smaller icon size */
}

.wrapper .btn {
  width: 100%;
  height: 40px; /* Reduced button height */
  background: #fff;
  border: none;
  outline: none;
  border-radius: 30px; /* Slightly reduced border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 14px; /* Smaller button font size */
  color: #333;
  font-weight: 600;
}

.text-danger {
  color: red;
  font-size: 12px;
}

.spinner {
  text-align: center;
  color: white;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
