<app-header/>
<section class="about-section" style="display: flex; align-items: center; height: 600px;">
  <div class="about-content" style="flex: 1; padding: 20px;">
    <h1 class="about-title">À Propos de Nous</h1>
    <p class="about-description">
      <span class="highlight">ORIENTATION ACADEMIQUE</span> offre les meilleures opportunités d'orientation aux élèves du monde entier.
    </p>
    <p class="about-text">
      Orientation Académique est une plateforme dédiée à aider les étudiants dans leur parcours éducatif et professionnel. Fondée en 2023, notre mission est de guider les élèves dans le choix de leur voie académique et professionnelle, en fournissant des ressources, des conseils et des formations adaptées à leurs besoins. Nous nous engageons à renforcer leurs compétences et à élargir leur compréhension des différentes options d'orientation disponibles, tout en leur permettant de construire un avenir prometteur.
    </p>
  </div>


  <div class="about-images" style=" display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div class="image-grid">
      <img src="/assets/pictures/6b3dd174bdcacac256bf8fdc6001ddfd.jpg" alt="Image 1" class="about-image" />
      <img src="/assets/pictures/a60ae900ad9fd67890f589351069a461.jpg" alt="Image 2" class="about-image" />
      <img src="assets/pictures/2164ecfb30e5df915fcc5fbc192fe516.jpg" alt="Image 4" class="about-image" />

      <img src="/assets/pictures/i.webp" alt="Image 3" class="about-image" />
    </div>
  </div>
</section>



<section class="features-section">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f06816e869a43936d327ac582882028c11b12f5b3f3c0c4eeacd12017e135192?placeholderIfAbsent=true&apiKey=41a2148170ee41e3aecd8c91d6b03154" alt="Illustration des Caractéristiques" class="features-image" />
  <div class="features-content">
    <h2 class="features-title">Caractéristiques</h2>
    <p class="features-subtitle">
      Nous travaillons constamment pour vous offrir le meilleur des services.
    </p>
    <div class="features-description">
      <p>
        Chez Orientation Académique, notre objectif principal est d'aider les élèves à clarifier leurs aspirations académiques, tout en leur fournissant le soutien nécessaire pour qu'ils puissent réaliser leurs ambitions.
      </p>
      <p>
        Grâce à notre plateforme, vous aurez accès à une multitude de ressources éducatives et d'outils pour vous aider à naviguer dans le monde académique et à faire des choix éclairés concernant votre avenir.
      </p>
    </div>

  </div>
</section>

<app-footer/>

