

.main-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-section {
  display: flex;
  justify-content: space-around;
  height: 500px;
}

.about-content {
  flex: 1;
  padding: 20px;
}

.about-title {
  color: #1f67ff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-description {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.45;
  margin-bottom: 20px;
}

.highlight {
  color: rgba(142, 142, 142, 0.74);
}

.about-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-images {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Aligne les images en colonne */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 5fr); /* Deux images par ligne */
  gap: 10px; /* Espace entre les images */
  margin-top: 20px; /* Marge au-dessus de la grille d'images */
}

.about-image {
  max-width: 100%; /* Largeur maximale de l'image */
  padding-right: 10%;
  height: auto; /* Hauteur automatique pour garder le ratio */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
  transition: transform 0.3s; /* Transition pour l'effet de survol */
}

.about-image:hover {
  transform: scale(1.05); /* Agrandir l'image légèrement au survol */
}

.features-section {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.features-image {
  max-width: 35%;
  border-radius: 10px;
}

.features-content {
  flex: 1;
  max-width: 600px;
}

.features-title {
  color: #1f67ff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.features-subtitle {
  color: #000000;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.features-description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}









