<form [formGroup]="fieldOfStudyForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nom:</label>
    <input id="name" formControlName="name">
    <div *ngIf="fieldOfStudyForm.get('name')?.invalid && (fieldOfStudyForm.get('name')?.touched || fieldOfStudyForm.get('name')?.dirty)">
      <small *ngIf="fieldOfStudyForm.get('name')?.errors?.required">Le nom est requis.</small>
    </div>
  </div>

  <div>
    <label for="bacTypeRequired">Type de bac requis:</label>
    <input id="bacTypeRequired" formControlName="bacTypeRequired">
    <div *ngIf="fieldOfStudyForm.get('bacTypeRequired')?.invalid && (fieldOfStudyForm.get('bacTypeRequired')?.touched || fieldOfStudyForm.get('bacTypeRequired')?.dirty)">
      <small *ngIf="fieldOfStudyForm.get('bacTypeRequired')?.errors?.required">Le type de bac est requis.</small>
    </div>
  </div>

  <div>
    <label for="minimumBacNote">Note minimale:</label>
    <input id="minimumBacNote" type="number" formControlName="minimumBacNote">
    <div *ngIf="fieldOfStudyForm.get('minimumBacNote')?.invalid && (fieldOfStudyForm.get('minimumBacNote')?.touched || fieldOfStudyForm.get('minimumBacNote')?.dirty)">
      <small *ngIf="fieldOfStudyForm.get('minimumBacNote')?.errors?.required">La note minimale est requise.</small>
      <small *ngIf="fieldOfStudyForm.get('minimumBacNote')?.errors?.min">La note minimale doit être supérieure ou égale à 0.</small>
    </div>
  </div>

  <div>
    <label for="departmentName">Nom du département:</label>
    <input id="departmentName" formControlName="departmentName">
    <div *ngIf="fieldOfStudyForm.get('departmentName')?.invalid && (fieldOfStudyForm.get('departmentName')?.touched || fieldOfStudyForm.get('departmentName')?.dirty)">
      <small *ngIf="fieldOfStudyForm.get('departmentName')?.errors?.required">Le nom du département est requis.</small>
    </div>
  </div>

  <div>
    <label for="institution">Sélectionner une institution:</label>
    <select id="institution" formControlName="institution">
      <option *ngFor="let institution of institutions" [ngValue]="institution">{{ institution.name }}</option>
    </select>
    <div *ngIf="fieldOfStudyForm.get('institution')?.invalid && (fieldOfStudyForm.get('institution')?.touched || fieldOfStudyForm.get('institution')?.dirty)">
      <small *ngIf="fieldOfStudyForm.get('institution')?.errors?.required">Une institution est requise.</small>
    </div>
  </div>

  <button type="submit" [disabled]="fieldOfStudyForm.invalid">Soumettre</button>
</form>
