<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Field of Study</h5>
      <button type="button" class="close" (click)="closeModal()">&times;</button>
    </div>
    <form [formGroup]="fieldOfStudyForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter Field of Study Name" />
          <div *ngIf="fieldOfStudyForm.get('name')?.invalid && fieldOfStudyForm.get('name')?.touched" class="text-danger">
            Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="bacTypeRequired">Bac Type Required</label>
          <input formControlName="bacTypeRequired" type="text" class="form-control" id="bacTypeRequired" placeholder="Enter Bac Type Required" />
          <div *ngIf="fieldOfStudyForm.get('bacTypeRequired')?.invalid && fieldOfStudyForm.get('bacTypeRequired')?.touched" class="text-danger">
            Bac Type Required is required.
          </div>
        </div>

        <div class="form-group">
          <label for="minimumBacNote">Minimum Bac Note</label>
          <input formControlName="minimumBacNote" type="number" class="form-control" id="minimumBacNote" placeholder="Enter Minimum Bac Note" />
          <div *ngIf="fieldOfStudyForm.get('minimumBacNote')?.invalid && fieldOfStudyForm.get('minimumBacNote')?.touched" class="text-danger">
            Minimum Bac Note is required.
          </div>
        </div>

        <div class="form-group">
          <label for="departmentName">Department Name</label>
          <input formControlName="departmentName" type="text" class="form-control" id="departmentName" placeholder="Enter Department Name" />
          <div *ngIf="fieldOfStudyForm.get('departmentName')?.invalid && fieldOfStudyForm.get('departmentName')?.touched" class="text-danger">
            Department Name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="institution">Select Institution</label>
          <select formControlName="institutionId" class="form-control" id="institution">
            <option *ngFor="let institution of institutions" [value]="institution.institutionId">{{ institution.institutionName }}</option>
          </select>
          <div *ngIf="fieldOfStudyForm.get('institutionId')?.invalid && fieldOfStudyForm.get('institutionId')?.touched" class="text-danger">
            Please select an institution.
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="fieldOfStudyForm.invalid">Save</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </form>
  </div>
</div>
