<header class="main-header">
  <div class="logo-container">
    <img loading="lazy" src="../../../../assets/pictures/BIOR%20BAC%20(1).png" alt="" class="logo-icon" />
  </div>
  <div>
    <ul class="nav-list">
      <li><a routerLink="/home" class="nav-item">Accueil</a></li>
      <li><a routerLink="/institutions" class="nav-item">Institutions</a></li>
      <li><a routerLink="/about-us" class="nav-item">À Propos</a></li>
      <li><a routerLink="/advice" class="nav-item">Conseils</a></li>
      <li><a routerLink="/vos-recommend" class="nav-item">Vos Recommandations</a></li>
    </ul>
  </div>

  <!-- Bouton de profil -->
  <div class="d-flex align-items-center">
    <button *ngIf="_authService.isLoggedIn()" (click)="_authService.logout()" routerLink="/logout" class="btn btn-outline-custom rounded-pill me-2">
      <i class="bi bi-person"></i>Déconnexion
    </button>
  </div>
</header>
