
<div class="container mt-5">

  <h2>Champs d'études</h2>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let field of fieldsOfStudy">
      <div class="card">
        <img [src]="field.fieldOfStudyLogo" class="card-img-top" alt="{{ field.name }} Logo" />
        <div class="card-body">
          <h5 class="card-title">{{ field.name }}</h5>
          <p class="card-text">Bac type requis: {{ field.bacTypeRequired }}</p>
          <p class="card-text">Note minimum: {{ field.minimumBacNote }}</p>
          <p class="card-text">Département: {{ field.departmentName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer/>

