<aside class="sidebar">
  <div class="profile-info">
    <img src="/assets/pictures/pexels-moose-photos-170195-1036622.jpg" class="profile-pic">
    <h3>Welcome Admin</h3>
  </div>

  <nav class="nv-element">
    <ul>
      <li>
        <a routerLink="/admin-dashboard" routerLinkActive="active">
          <img src="/assets/pictures/home.png" class="nav-icon"> Home
        </a>
      </li>

      <li>
        <a routerLink="/admin-dashboard/institution" routerLinkActive="active">
          <img src="/assets/pictures/education.png" class="nav-icon"> Institution
        </a>
      </li>

      <li>
        <a routerLink="/admin-dashboard/field-of-study" routerLinkActive="active">
          <img src="/assets/pictures/education.png" class="nav-icon"> Field Of Study
        </a>
      </li>

      <li>
        <a routerLink="/admin-dashboard/profile" routerLinkActive="active">
          <img src="/assets/pictures/profile-user.png" class="nav-icon"> Profile
        </a>
      </li>

      <li style="margin-top: 30%">
        <a *ngIf="_authService.isLoggedIn()" (click)="_authService.logout()" routerLink="/logout">
          <img src="/assets/pictures/logout.png" class="nav-icon"> Logout
        </a>
      </li>
    </ul>
  </nav>
</aside>
