<div class="task-list-container">
  <h2 class="title">Liste des avis</h2>

  <div class="task-table">
    <table style="width: 100%; border-collapse: collapse;">
      <thead>
      <tr class="task-header">
        <th class="header-item">Commentaire</th>
        <th class="header-item">Évaluation</th>
        <th class="header-item">ID Utilisateur</th>
        <th class="header-item">ID Institution</th>
        <th class="header-item">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr class="task-row" *ngFor="let review of paginatedReviews()">
        <td class="row-item">{{ review.comment }}</td>
        <td class="row-item">
          <div class="rating">
            <span *ngFor="let star of [1, 2, 3, 4, 5]" class="star" [class.filled]="star <= review.rating">&#9733;</span>
          </div>
        </td>
        <td class="row-item">{{ review.userName }}</td>
        <td class="row-item">{{ review.institutionId }}</td>
        <td class="row-item actions">
          <button class="custom-trash-button" (click)="deleteReview(review.reviewId)">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <mat-paginator
      [length]="totalReviews"
      [pageSize]="pageSize"
      [pageSizeOptions]="[3, 5, 10, 25, 50, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
