<div class="main-review-container">
  <div class="d-flex justify-content-between">
    <h3 class="title-r">Review</h3>

    <button *ngIf="authService.isLoggedIn()" (click)="openModal()" class="btn btn-primary">
      <i class="pi pi-twitch" style="font-size :2rem"></i>
    </button>
  </div>


  <!-- Modal for adding a new review -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>

      <!-- Review Form -->
      <h2>Laisser un avis</h2>
      <app-review-form
        *ngIf="selectedInstitutionId !== null"
        [institutionId]="selectedInstitutionId"
        (modalClose)="closeModal()"
      ></app-review-form>
    </div>
  </div>

  <!-- Container for all reviews -->
  <div class="all-reviews-container">
    <!-- Loop through each review -->
    <div class="review-card" *ngFor="let review of reviews">
      <h5 class="user-name">{{ review.userName }}</h5>
      <div class="review-header">

        <div class="review-comment">
          <p>{{ review.comment }}</p>
        </div>

        <div class="star-rating">
          <ng-container *ngFor="let star of getStars(review.rating); let i = index">
            <i class="bi" [ngClass]="star ? 'bi-star-fill' : 'bi-star'" style="color: #ffbf00;"></i>
          </ng-container>
          <span class="rating-text ms-2"> </span>
        </div>

      </div>



    </div>
  </div>
</div>
