<div class="mod">
  <h2 style="color :  #0072ea" class="d-flex justify-content-center" *ngIf="!institutionId">Add institution</h2>
  <h2 style="color :  #0072ea" class="d-flex justify-content-center" *ngIf="institutionId">Update institution</h2>

  <form [formGroup]="institutionForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-field">
        <label for="institutionName">Nom de l'institution:</label>
        <input id="institutionName" formControlName="institutionName" required>
      </div>
      <div class="form-field">
        <label for="address">Adresse:</label>
        <input id="address" formControlName="address" required>
        <div *ngIf="institutionForm.get('address')?.invalid && institutionForm.get('address')?.touched">
          Adresse requise.
        </div>
      </div>
      <div class="form-field">
        <label for="website">Site Web:</label>
        <input id="website" formControlName="website" required>
        <div *ngIf="institutionForm.get('website')?.invalid && institutionForm.get('website')?.touched">
          URL requise et doit être valide.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-field">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" required></textarea>
        <div *ngIf="institutionForm.get('description')?.invalid && institutionForm.get('description')?.touched">
          Description requise.
        </div>
      </div>
      <div class="form-field">
        <label for="institutionType">Type d'institution:</label>
        <select id="institutionType" formControlName="institutionType" required>
          <option *ngFor="let type of institutionTypes" [value]="type">{{ type }}</option>
        </select>
        <div *ngIf="institutionForm.get('institutionType')?.invalid && institutionForm.get('institutionType')?.touched">
          Type requis.
        </div>
      </div>
      <div class="form-field">
        <label for="institutionLogoUrl">URL du logo:</label>
        <input type="url" id="institutionLogoUrl" formControlName="institutionLogoUrl" placeholder="Entrez l'URL du logo" required>
        <div *ngIf="institutionForm.get('institutionLogoUrl')?.invalid && institutionForm.get('institutionLogoUrl')?.touched">
          URL valide requise.
        </div>
      </div>
    </div>

    <button type="submit">
      <i class="pi pi-check"></i> Soumettre
    </button>
    <div *ngIf="successMessage">{{ successMessage }}</div>
  </form>
</div>
