<div class="task-list-container">
  <h2 class="title">List of Institutions</h2>

  <div>
    <h2>Filtrer les Institutions</h2>
    <form (ngSubmit)="onFilter()">
      <input type="text" [(ngModel)]="institutionName" placeholder="Nom de l'Institution" name="institutionName">
      <input type="text" [(ngModel)]="address" placeholder="Adresse" name="address">

      <select [(ngModel)]="institutionType" name="institutionType">
        <option value="">Sélectionner le type</option>
        <option *ngFor="let type of institutionTypes" [value]="type">{{ type }}</option>
      </select>

      <button type="submit">Filtrer</button>
    </form>

    <div *ngIf="loading">Chargement des institutions...</div>

    <div *ngIf="!loading && filteredInstitutions.length === 0">Aucune institution trouvée.</div>
    <button (click)="openModal()" class="add-button">
      <i class="fas fa-plus"></i>
      Add Institution
    </button>
    <!-- Modal -->
    <div class="modal" *ngIf="showModal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <app-institution-form
          [institutionId]="selectedInstitutionId"
          (modalClose)="closeModal()"
        ></app-institution-form>
      </div>
    </div>
  </div>

  </div>

  <div class="task-table">
    <div class="task-header">
      <div class="header-item" (click)="sort('institutionName')">Institution Name</div>
      <div class="header-item" (click)="sort('description')">Description</div>
      <div class="header-item" (click)="sort('address')">Address</div>
      <div class="header-item" (click)="sort('institutionType')">Institution Type</div>
      <div class="header-item">Website</div>
      <div class="header-item">Actions</div>
    </div>

    <div class="task-row" *ngFor="let institution of filteredProjects()">
      <div class="row-item">{{ institution.institutionName }}</div>
      <div class="row-item">{{ institution.description }}</div>
      <div class="row-item">{{ institution.address }}</div>
      <div class="row-item">{{ getInstitutionTypeLabel(institution.institutionType) }}</div>
      <div class="row-item">
        <a [href]="institution.website" target="_blank">{{ institution.website }}</a>
      </div>
      <div class="row-item">
        <button (click)="editInstitution(institution.institutionId)">Edit</button>
        <button (click)="deleteInstitution(institution.institutionId)">Delete</button>
      </div>
    </div>

    <mat-paginator
      [length]="totalInstitutions"
      [pageSize]="pageSize"
      [pageSizeOptions]="[3, 5, 10, 25, 50, 100]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
