<app-header-container/>
<div class="container mt-5">
  <div class="text-center">
    <h1>Écoles et formations du supérieur</h1>
  </div>
  <div class="card-carte">
    <div class=" card-bod text-white bg-primary" >
      <div class="d-flex align-items-center">
        <i class="bi bi-people-fill" style="font-size: 5rem;"></i>
        <p class="mb-0 ms-3">
          Vous recherchez des informations sur un établissement ? Présentation des formations, contacts, avis, plaquettes,
          événements clés, vidéos de présentation, calendrier des portes ouvertes, actualité de l’école, programmes,
          débouchés... Retrouvez tous les renseignements dont vous avez besoin dans cet espace on-line entièrement dédié
          aux établissements.
        </p>
      </div>
    </div>
  </div>






  <!-- Search et filter bar -->
  <div class="mt-5">
    <h3>Vous recherchez</h3>
    <form class="row g-3">
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Mot(s) clef(s)" />
      </div>
      <div class="col-md-4">
        <select class="form-select">
          <option selected>Filière</option>
          <option value="1">Sciences</option>
          <option value="2">Arts</option>
          <option value="3">Commerce</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="form-select">
          <option selected>Secteur études</option>
          <option value="1">Public</option>
          <option value="2">Privé</option>
        </select>
      </div>
    </form>
  </div>
</div>




<!-- All institutions -->
<div class="container">
  <div class="row">
    <!-- col-md-4 for 3 cards per row -->
    <div class="col-md-4 mb-4" *ngFor="let institution of institutions">
      <div class="card">
        <img [src]="institution.institutionLogo" class="card-img-top" alt="{{ institution.institutionName }} Logo" />
        <div class="card-body">
          <h6 class="card-title">
            <i class="pi pi-building-columns wow-icon" style="color: slateblue"></i>
            {{ institution.institutionName }}
          </h6>
          <p  class="card-text"> <i class="pi pi-ethereum wow-icon" style="color: slateblue"></i>
            {{ institution.address }}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center">
            <div class="star-rating">
              <ng-container *ngFor="let star of getStars(institution.averageRating); let i = index">
                <i class="bi" [ngClass]="star ? 'bi-star-fill' : 'bi-star'"></i>
              </ng-container>
            </div>
            <button (click)="showDetails(institution.institutionId)" class="btn btn-primary explore-button">
              Explore More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer/>
