<app-header-container></app-header-container>

<!-- Contenu Principal -->
<div class="contents">
  <div class="text-content">
    <h6>GUIDE D'ORIENTATION ACADÉMIQUE</h6>
    <h1>Construisez votre avenir avec les bons choix éducatifs</h1>
    <p>Découvrez les meilleures formations, écoles et parcours académiques pour vous guider vers une carrière réussie.</p>
  </div>

  <!-- Section Image -->
  <div class="image-content">
    <img src="/assets/pictures/img-student-3.png" alt="Étudiante en orientation" />
  </div>
</div>

<div class="container mt-5 text-center">
  <div class="text-center">
    <h1>Écoles et formations du supérieur</h1>
  </div>
</div>

<section class="event-search mb-5">
  <div class="search-options">
    <div class="search-filter-bar pe-5">
      <h3 class="option-title">Vous recherchez</h3>
      <form class="d-flex gap-3 search-form" (ngSubmit)="searchByKeywords()">
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            placeholder="Mot(s) clé(s)"
            [(ngModel)]="searchText"
            name="searchText"
            (input)="searchByKeywords()"
          />
        </div>

        <div class="col-md-4">
          <select class="form-select" [(ngModel)]="selectedType" name="type" (change)="filterByType()">
            <option value="" disabled selected>Filière</option>
            <option *ngFor="let type of institutionTypes" [value]="type">{{ type }}</option>
          </select>
        </div>

        <div class="col-md-4">
          <select class="form-select" [(ngModel)]="selectedRating" name="rating" (change)="filterByRating()">
            <option value="" disabled selected>Note minimum</option>
            <option value="1">1 étoile</option>
            <option value="2">2 étoiles</option>
            <option value="3">3 étoiles</option>
            <option value="4">4 étoiles</option>
            <option value="5">5 étoiles</option>
          </select>
        </div>

        <div class="reset-filter">
          <i class="pi pi-replay" style="font-size: 1.5rem; cursor: pointer;" (click)="resetFilters()"></i>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- Toutes les institutions -->
<div class="container">
  <div class="d-flex flex-lg-row flex-md-row flex-sm-col gap-2">
    <div class="w-100 mb-4" *ngFor="let institution of institutions">
      <div class="card">
        <img [src]="institution.institutionLogo" class="card-img-top" alt="{{ institution.institutionName }} Logo" />
        <div class="card-body">
          <h6 class="card-title">
            <i class="pi pi-building-columns wow-icon" style="color: slateblue"></i>
            {{ institution.institutionName }}
          </h6>
          <p class="card-text">
            <i class="pi pi-ethereum wow-icon" style="color: slateblue"></i>
            {{ institution.address }}
          </p>
        </div>
        <div class="card-footer">
          <div class="star-rating">
            <ng-container *ngFor="let star of getStars(institution.averageRating); let i = index">
              <i class="bi" [ngClass]="star ? 'bi-star-fill' : 'bi-star'"></i>
            </ng-container>
          </div>
          <button (click)="showDetails(institution.institutionId)" class="btn explore-button">
            <i class="pi pi-info"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
